---
layout: default
body_classes: page-post page-post-3
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/blocks/sections/title.html
          title=page.title
          description=page.description
          image=page.image
          align="center"
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-2">
        {% if page.authors %}
          <div class="mb-2">
          {% for author in page.authors %}
            {% include framework/blocks/components/author.html 
            author=author
            style='row'
            show_author_name=true
          %}
          {% endfor %}
          </div>
        {% endif %}

        {% if page.categories %}
          <div class="categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          {% endif %}
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>

        {% if site.disqus.shortname %}
          {% if page.comments != false %}
            <div class="comments mt-3">
              {% include framework/global/integrations/disqus.html %}
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="col-12 col-lg-2">
      </div>
    </div>
  </div>
</div>
